.glyphicon.gas, .elec, .water {
  font-size: 50px;
}
.enter-providers {
  padding: 20px 0px 20px 0px;
}
.view-enter.ng-enter {
  -webkit-transition: 0.4s ease-in-out all;
  -moz-transition: 0.4s ease-in-out all;
  -o-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  opacity: 0;
}
.view-enter.ng-enter.ng-enter-active {
  opacity: 1;
}
