<h1>{{name}}</h1>
<h3>{{water}}</h3>
<h3>{{elec}}</h3>

<div class="container">
  <div class="row">
    
  <div class="well col-xs-12 col-sm-4 text-center">
        <span class="glyphicon glyphicon-fire iconWell"></span>
        <div class="form-group col-xs-12 col-sm-12">
        <label for="gasBill" >Enter Bill</label>
        <input class="form-control" id="gasBill" type="number" placeholder="£" ng-model="gasBill">
      </div>
  </div>


  <div class="well col-xs-12 col-sm-4 text-center">
        <span class="glyphicon glyphicon-flash iconWell"></span>
        <div class="form-group col-xs-12 col-sm-12">
        <label for="elecBill" >Enter Bill</label>
        <input class="form-control" id="elecBill" type="number" placeholder="£" ng-model="elecBill">
      </div>
  </div>


  <div class="well col-xs-12 col-sm-4 text-center">
        <span class="glyphicon glyphicon-tint iconWell"></span>
        <div class="form-group col-xs-12 col-sm-12">
        <label for="waterBill" >Enter Bill</label>
        <input class="form-control" id="waterBill" type="number" placeholder="£" ng-model="waterBill">
      </div>
  </div>



  </div>
</div>