<div class="jumbotron">
	<h1>   	<span class="glyphicon glyphicon-dashboard"></span>
 Energenie</h1>
	<p class="lead">The super awesome energy bill tracking app. Please enter your name:</p>
	<div class="row">
	<input class="col-md-6 col-md-offset-2" ng-model="Name" placeholder="Name">
	<a class="btn btn-lg btn-success" ng-click="createUser()">Lets go!</a>
	</div>
</div>

<div class="row marketing">
	<h4>Track your bills</h4>
	<p>Find out how much you're spending on Gas, Electricity and Water bills</p>

	<h4>Preyy graphs</h4>
	<p>(Hopefully) makes pretty graphs to tell you what you're spending</p>

	<h4>Does something else too!</h4>
	<p>We'll find out what this is soon</p>
</div>
</div>

<div class="footer">
	<p>© Daniel Choudhury 2013. Built with Angular J5, Yeoman, Angular UI, Bootstrap and Sublime</p>
</div>