<div class="jumbotron">
	<h1>   	<span class="glyphicon glyphicon-dashboard"></span>
 Energenie</h1>
	<p class="lead">The super awesome energy bill tracking app. Please enter your name:</p>
	<div class="row">
	<input class="col-md-6 col-md-offset-2" ng-model="Name" placeholder="Name">
	<a class="btn btn-lg btn-success" ng-click="createUser()">Lets go!</a>
	</div>
</div>

<div class="row marketing">
	<h4>Track your bills</h4>
	<p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>

	<h4>Do something else too!</h4>
	<p>AngularJS is a toolset for building the framework most suited to your application development.</p>

	<h4>Saves your life, bro!</h4>
	<p>Spectacular Test Runner for JavaScript.</p>
</div>
</div>

<div class="footer">
	<p>♥ from the Yeoman team</p>
</div>